

// hospitals
.hospitals {
    margin-top: rem(90);
    margin-bottom: rem(30);
  
    @media (max-width:998px) {
      margin-top: rem(30);
      margin-bottom: rem(30);
    }
  }
  
  .hospitals__wrap {
    margin-top: rem(60);
  
    @media (max-width:998px) {
      margin-top: rem(30);
    }
  }
  
  .hospitals--tabs__navigation {
    width: 100%;
    display: flex;
    padding: rem(10) 0;
    position: relative;
  
    @media (max-width:998px) {
      flex-direction: column;
    }
  
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: #406aa1;
  
      @media (max-width:998px) {
        content: none;
      }
    }
  }
  
  .hospitals--tabs__title {
    flex: 1 1 auto;
    font-weight: 600;
    color: $lightText;
    font-size: rem(30);
    position: relative;
    transition: 0.3s linear;
  
    @media (max-width:998px) {
      text-align: left;
  
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  
    &::after {
      background: #406aa1;
      width: 0%;
      height: 4px;
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.3s linear;
    }
  
    &._tab-active {
      color: #406aa1;
  
      &::after {
        width: 100%;
        transition: 0.3s linear;
      }
    }
  }
  
  .hospitals--tabs__content {
    margin-top: rem(50);
  
    @media (max-width:998px) {
      margin-top: rem(0);
  
      & .spollers {
        gap: 5px;
      }
    }
  
    & .spollers__title {
      background: #ffffff;
      box-shadow: 0px 10px 20px rgba(191, 191, 191, 0.6);
      border-radius: 5px;
      padding: rem(25) rem(50);
      text-align: center;
      color: #333333;
      font-size: rem(20);
      text-transform: uppercase;
      font-weight: 600;
  
      @media (max-width:998px) {
        padding: rem(20) rem(20);
        text-align: left;
      }
    }
  
    & ._spoller-init .spollers__title::before {
      right: 20px;
    }
  
    & .spollers__body {
      width: 100%;
      position: relative;
      padding: 5px 2px;
    }
  }
  
  .hospitals--body {
    background: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), -1px -1px 3px #cdcdcd;
    border-radius: 5px;
    padding: rem(4);
    width: 100%;
    margin-top: 11px;
    position: relative;
  
    &__wrap {
      display: flex;
      flex-direction: column
    }
  
    & iframe {
      @include absoluteFullSpace;
      z-index: 1;
  
      @media (max-width:998px) {
        position: relative;
        @include adaptiveValue("height", 500, 350);
        order: 2;
      }
    }
  }
  
  .spollers__item {
    position: relative;
  }
  
  .hospitals--contact {
    padding: rem(40) rem(25) rem(25) rem(25);
    background: #ffffffc6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 3px #ffffff;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    margin-right: auto;
    display: inline-flex;
    flex-direction: column;
    gap: 22px;
    font-weight: 600;
    font-size: rem(20);
    position: relative;
    z-index: 2;
    order: 1;
  
    @media (max-width:998px) {
      width: 100%;
    }
  }
  
  .hospitals--item {
    & a {
      display: flex;
      line-height: 150%;
    }
  }
  
  .hospitals--links {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(20);
  
    @media (max-width:998px) {
      flex-direction: column;
    }
  
    & a {
      text-decoration-line: underline;
      color: #406aa1;
      font-size: rem(14);
      font-weight: 400;
  
      @media (max-width:998px) {
        margin-left: auto;
        text-align: right;
        font-size: rem(16);
      }
  
      &.go-map {
        color: #ff0182;
        position: relative;
        padding-right: 30px;
  
        @media (max-width:998px) {
          text-align: center;
          margin: 0 auto;
        }
  
        &::after {
          content: "";
          position: absolute;
          width: 24px;
          height: 32px;
          right: 0;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          bottom: 0;
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='32' viewBox='0 0 25 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0039 17.7461C15.3129 17.7461 18.0039 15.0541 18.0039 11.7461C18.0039 8.43809 15.3129 5.74609 12.0039 5.74609C8.69491 5.74609 6.00391 8.43709 6.00391 11.7461C6.00391 15.0551 8.69491 17.7461 12.0039 17.7461Z' fill='%23FF0182'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 0C5.382 0 0 5.316 0 12.001C0 19.001 6.001 26.162 10.376 31.195C10.392 31.215 11.094 32 11.962 32C11.964 32 12.035 32 12.039 32C12.906 32 13.609 31.215 13.625 31.195C18.002 26.162 24.002 19.002 24.002 12.001C24.002 5.316 18.619 0 12 0ZM12.117 29.883C12.0549 29.9422 11.9274 29.9217 11.8663 29.8615C11.8617 29.8569 11.8572 29.8524 11.853 29.848C8.188 25.631 2 18.514 2 12.001C2 6.487 6.487 2 12 2C17.516 2 22.002 6.487 22.002 12.002C22.002 18.514 15.814 25.631 12.117 29.883Z' fill='%23FF0182'/%3E%3C/svg%3E ");
        }
      }
    }
  }
  